
@font-face{
    font-family: 'Marker-Felt';
    src: url('/fonts/Marker Felt.ttf');
}
@font-face{
    font-family: 'Heavy Heap';
    src: url('/fonts/heavy heap.ttf');
}


.list-group-item {
    height: 55px;
}

.bins-share {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px;
}
.bins-share .input-group{
    width: 40%;
}
.bins-share > div {
    margin: 0 12px;
}
.home-container {
     background-color: #80a3ff;
     height: 100vh;
     width: auto;
     margin: 0;
}
.home-header{
    font-family: 'Heavy Heap', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.render-target{
   height: 90%;
   padding: 0;
}
#login-buttons {
    margin: 5px 18px;
    font-size: 14px;
}